#logo {
    max-width: 100%;
    height: auto;
}

#search{
    width: 50%;
    max-width: 100%;
    height: auto;
    margin-left: 25pt;
}

#shopping-cart{
    max-width: 100%;
    height: auto;
    margin-left: 30pt;
    margin-bottom: 20pt;
}

#account-icon{
    max-width: 100%;
    height: auto;
    margin-left: 20pt;

}

#hamburger-icon{
    float:none;
}

a > p {
    padding-left: 10pt;
}

.product-header{    
    text-decoration: none;
    color: grey;
    
}

.product-header:visited{
    color: purple;
}

.product-header:hover{
    color:blue;
}

.item-price{
    color:#FF5C5C;
}

.products:visited{
    color:purple;
}

.products-background{
    box-shadow: 6pt;
    border-radius: 10%;
    border-width: 10pt;
    border-top: 10pt;
    border-color: black;
}


a.products {
    text-decoration: none;
    display: block;
}




