#logo {
    max-width: 100%;
    height: auto;
}

#search{
    width: 50%;
    max-width: 100%;
    height: auto;
    margin-left: 25pt;
}

#shopping-cart{
    max-width: 100%;
    height: auto;
    margin-left: 30pt;
    margin-bottom: 20pt;
}

#account-icon{
    max-width: 100%;
    height: auto;
    margin-left: 20pt;

}

#hamburger-icon{
    float:none;
}

a > p {
    padding-left: 10pt;
}

.product-header{    
    text-decoration: none;
    color: grey;
    
}

.product-header:visited{
    color: purple;
}

.product-header:hover{
    color: #00cccc ;
}

.item-price{
    color:#FF5C5C;
}

.products:visited{
    color:purple;
}

.products-background{
    box-shadow: 6pt;
    border-radius: 10%;
    border-width: 10pt;
    border-top: 10pt;
    border-color: black;
}


a.products {
    text-decoration: none;
    display: block;
}

#inspiron:hover{
    opacity: 70%;
}

#todays-deals{
    text-align: center;
}

.product-images{
    max-width: 100%;

}

.right-of-image{
    position: absolute;
    top: 100pt;
    right: 75pt;
}

.top-bar-color{
   color:#fff !important; 
    /*background-color:#006666 !important */
    background: linear-gradient(to bottom, #008080 25%, #339966 100%) !important;
}

.nav-bar-color {
   color:#fff !important; 
    /*background-color:#008080 !important */
    background: linear-gradient(to top, #008080 10%, #339966 65%) !important;
}

.dark-teal{
    color:#fff !important;
    background-color: #004040 !important;
}

.medium-teal{
    color:#fff !important; 
    background-color:#00cccc !important
}

.light-teal {
    color:#000 !important; 
    background-color:#66ffff !important
}

.dark-teal-hover:hover{
    color:#fff !important;
    background-color: #004040 !important;
}

.medium-teal-hover:hover{
    color:#fff !important;
    background-color: #00cccc !important;
}

.light-teal-hover:hover {
    color:#000 !important; 
    background-color:#66ffff !important
}

.border-hover:hover{
    border-width: 1pt !important;
    border-color: #fff !important;
    border-style: solid;
}

.hover-color:hover{
    color: #85ffff ;
}

a.footer-underline{
    text-decoration: none !important;
    display: block;
}
