#logo {
    max-width: 100%;
    height: auto;
}

#search{
    width: 50%;
    max-width: 100%;
    height: auto;
    margin-left: 25pt;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 125;
}
account-icon{
    max-width: 100%;
    height: auto;
    margin-left: 20pt;

}

#hamburger-icon{
    float:none;
}

a > p {
    padding-left: 10pt;
}

.product-header{    
    text-decoration: none;
    color: grey;
    
}

.product-header:visited{
    color: purple;
}
.top-bar-color{
    color:#fff !important; 
    background-color:#006666 !important
}

.nav-bar-color {
    color:#fff !important; 
    background-color:#008080 !important
}

.dark-teal{
    color:#fff !important;
    background-color: #004040 !important;
}

.medium-teal{
    color:#fff !important; 
    background-color:#00cccc !important
}

.light-teal {
    color:#000 !important; 
    background-color:#66ffff !important
}

.dark-teal-hover:hover{
    color:#fff !important;
    background-color: #004040 !important;
}

.medium-teal-hover:hover{
    color:#fff !important;
    background-color: #00cccc !important;
}

.light-teal-hover:hover {
    color:#000 !important; 
    background-color:#66ffff !important
}

.border-hover:hover{
    border-width: 1pt !important;
    border-color: #fff !important;
    border-style: solid;
}

.hover-color:hover{
    color: #85ffff ;
}

a.footer-underline{
    text-decoration: none !important;
    display: block;
}

<style>
* {
  box-sizing: border-box;
}


body {
 <font face = "Times New Roman" size = "5">Times New Roman</font><br />
background-image: url("background.jpg");
 background-color: #cccccc
 font-family: Arial, Helvetica, sans-serif;
  
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 300px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
   height: 350px; //or however you want it
   width:auto; //so that the image ratio stays the same

}
.responsive {
  width:250px;
  height: auto;
}
   .center {
   margin: auto;   }
   
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
    margin: 0 auto;
	 border: 1px  solid teal; 
	 border-radius: 4px;
}

.button1:hover {
  background-color: teal;
  color: white;
  border-radius: 4px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;

}

div.a {
  text-align: center;
   
  text-justify: inter-word;
}


</style>

</head>

<body>

 



</head>
</body>

