#logo {
    max-width: 100%;
    height: auto;
}

#search{
    width: 50%;
    max-width: 100%;
    height: auto;
    margin-left: 25pt;
}

#shopping-cart{
    max-width: 100%;
    height: auto;
    margin-left: 30pt;
    margin-bottom: 20pt;
}

#account-icon{
    max-width: 100%;
    height: auto;
    margin-left: 20pt;
    margin-right:215pt;
}

#hamburger-icon{
    float:none;
}

#computer-nav-button{
    margin-left: 600pt;
}
